.home {
  padding-bottom: 40px;
  padding: 0 100px;
  &-start {
    background: url('../../assets/7142_bigstock_Creative_Background_World_Wra_381023654__1_.png')center center/cover no-repeat;
    padding-bottom: 120px;
  }
  &-title {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 60px;
    font-size: 64px;
  }
  &-subtitle {
    text-align: center;
  }
  &-propositions {
    border-radius: 10px;
    background-color: black;
    margin-bottom: 30px;
    padding-bottom: 40px;
    margin-top: 40px;
    &-wrapper {
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }
    &-title {
      padding-top: 40px;
      font-size: 24px;
      text-align: center;
      padding-bottom: 30px;
    }
    &-card {
      padding: 15px;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      border: #278e2a 1px solid;
      max-width: 350px;
      border-radius: 15px;
      &-icon {
        width: 75px;
        margin: 0 auto;
      }
      &-text {
        margin-top: 15px;
        text-align: center;
      }
    }
  }
  &-variant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    &__item {
      display: flex;
      gap: 150px;
      margin-top: 30px;
    }
    &-main {
      font-size: 36px;
    }
    &-sub {
      max-width: 800px;
      margin-top: 30px;
    }
    &-icon {
      width: 513px;
      border-radius: 5px;
      height: 367px;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.planet {
  animation: planetCircle 5s linear infinite;
}

@keyframes planetCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .home{
    &-variant {
      &__item {
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 768px) {
  .home {
    &-title {
      font-size: 32px;
    }
    padding: 0;
    &-propositions {
      &-wrapper {
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width: 425px) {
  .home {
    padding: 0 25px;
  }
}